obj
.vs/config/applicationhost.config

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.xml
*.suo
*.cache

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

SAGA.DAL/bin/Debug/SAGA.DAL.pdb
SAGA.DAL/bin/Debug/SAGA.DAL.dll
SAGA.API/bin/SAGA.DAL.pdb
SAGA.API/bin/SAGA.DAL.dll
SAGA.API/bin/SAGA.API.pdb
SAGA.API/bin/SAGA.API.dll
SAGA.API/bin/EntityFramework.dll

SAGA.DAL/SAGA.DAL.csproj

SAGA.DAL/bin/Debug/SAGA.DAL.dll.config
*.dll

SAGA.DAL/App.config
SAGA.API/Web.config

SAGA.DAL/Migrations/
SAGA.DAL/SAGA.DAL.csproj
