obj
.vs/config/applicationhost.config

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.xml
*.suo
*.cache

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

SAGA.API/bin/Debuger/
SAGA.API/bin/Release/
SAGA.API/bin/
SAGA.BOL/bin/Debuger/
SAGA.BOL/bin/Release/
SAGA.BOL/bin/
SAGA.DAL/bin/Debuger/
SAGA.DAL/bin/
SAGA.DAL/Migrations/
SAGA.API/Utilerias/08155cc8-3568-e811-80e1-9e274155325e.jpeg
SAGA.API/Utilerias/17e98c73-2668-e811-80e1-9e274155325e.jpeg
SAGA.API/Utilerias/562f34e0-1a68-e811-80e1-9e274155325e.jpeg
SAGA.API/Utilerias/83569bac-0d68-e811-80e1-9e274155325e.jpeg
