obj
.vs/config/applicationhost.config

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.xml
*.suo
*.cache

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

SAGA.API/bin/Debuger/
SAGA.API/bin/Release/
SAGA.API/bin/
SAGA.BOL/bin/Debuger/
SAGA.BOL/bin/Release/
SAGA.BOL/bin/
SAGA.DAL/bin/Debuger/
SAGA.DAL/bin/
SAGA.DAL/Migrations/
SAGA.API/Utilerias/08155cc8-3568-e811-80e1-9e274155325e.jpeg
SAGA.API/Utilerias/17e98c73-2668-e811-80e1-9e274155325e.jpeg
SAGA.API/Utilerias/562f34e0-1a68-e811-80e1-9e274155325e.jpeg
SAGA.API/Utilerias/83569bac-0d68-e811-80e1-9e274155325e.jpeg
SAGA.API/Utilerias/img/user/17e98c73-2668-e811-80e1-9e274155325e.jpeg
SAGA.API/Utilerias/img/user/2217b0f2-5a6e-e811-80e1-9e274155325e.jpeg
SAGA.API/Utilerias/img/user/2428f56f-9c7f-e811-80e2-9e274155325e.jpeg
SAGA.API/Utilerias/img/user/28224fe0-f381-e811-80e2-9e274155325e.jpeg
SAGA.API/Utilerias/img/user/3764fcb5-0189-e811-80e3-9e274155325e.jpeg
SAGA.API/Utilerias/img/user/3461bc81-f47e-e811-80e2-9e274155325e.jpeg
SAGA.API/Utilerias/img/user/4a701340-8180-e811-80e2-9e274155325e.jpeg
SAGA.API/Utilerias/img/user/5460b57f-ab7f-e811-80e2-9e274155325e.jpeg
SAGA.API/Utilerias/img/user/614aa47f-f481-e811-80e2-9e274155325e.jpeg
SAGA.API/Utilerias/img/user/83569bac-0d68-e811-80e1-9e274155325e
SAGA.API/Utilerias/img/user/83569bac-0d68-e811-80e1-9e274155325e.jpeg
SAGA.API/Utilerias/img/user/8783ee38-7f80-e811-80e2-9e274155325e.jpeg
SAGA.API/Utilerias/img/user/9e801843-f481-e811-80e2-9e274155325e.jpeg
SAGA.API/Utilerias/img/user/a3f8df31-9c7f-e811-80e2-9e274155325e.jpeg
SAGA.API/Utilerias/img/user/undefined.jpeg
*.jpg
*.jpg
*.zip
*.nupkg
*.dll
*.md
*.ps1
*.dll
*.dll
packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/Newtonsoft.Json.6.0.4.nupkg
packages/Newtonsoft.Json.6.0.4/tools/install.ps1
SAGA.API/assets/img/user/3461bc81-f47e-e811-80e2-9e274155325e.jpeg
SAGA.API/assets/img/user/DAL0077.jpg
SAGA.API/assets/img/user/DAL2463.jpg
SAGA.API/assets/img/user/DAL2472.jpg
SAGA.API/assets/img/user/DAL2704.jpg
SAGA.API/assets/img/user/DAL2789.jpg
SAGA.API/assets/img/user/DAL2823.jpg
SAGA.API/assets/img/user/DAL2949.jpg
SAGA.API/assets/img/user/DAL3025.jpg
SAGA.API/assets/img/user/DAL3032.jpg
SAGA.API/assets/img/user/DAL3067.jpg
SAGA.API/assets/img/user/DAL3076.jpg
SAGA.API/bin/EntityFramework.dll
SAGA.API/bin/Newtonsoft.Json.dll
*.jpg
*.pdb
SAGA.DAL/SAGA.DAL.csproj
SAGA.DAL/packages.config
SAGA.DAL/bin/Release/SAGA.DAL.dll.config
SAGA.DAL/bin/Release/SAGA.DAL.dll
SAGA.DAL/bin/Release/SAGA.BOL.dll
SAGA.DAL/bin/Release/EntityFramework.SqlServer.dll
SAGA.DAL/bin/Release/EntityFramework.dll
SAGA.DAL/bin/Debug/SAGA.DAL.pdb
SAGA.DAL/bin/Debug/SAGA.DAL.dll.config
SAGA.DAL/bin/Debug/SAGA.DAL.dll
SAGA.DAL/bin/Debug/SAGA.BOL.pdb
SAGA.DAL/bin/Debug/SAGA.BOL.dll
SAGA.DAL/bin/Debug/EntityFramework.SqlServer.dll
SAGA.DAL/bin/Debug/EntityFramework.dll
SAGA.DAL/App.config
packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.dll
*.dll
*.dll
*.dll
*.nupkg
*.nupkg
*.ps1
*.ps1
*.jpeg
*.jpeg
*.jpg
packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.6.0.4/Newtonsoft.Json.6.0.4.nupkg
packages/Newtonsoft.Json.6.0.4/tools/install.ps1
SAGA.API/assets/img/user/3461bc81-f47e-e811-80e2-9e274155325e.jpeg
SAGA.API/assets/img/user/DAL0077.jpg
SAGA.API/assets/img/user/DAL2463.jpg
SAGA.API/assets/img/user/DAL2472.jpg
SAGA.API/assets/img/user/DAL2704.jpg
SAGA.API/assets/img/user/DAL2789.jpg
SAGA.API/assets/img/user/DAL2823.jpg
SAGA.API/assets/img/user/DAL2949.jpg
SAGA.API/assets/img/user/DAL3025.jpg
SAGA.API/assets/img/user/DAL3032.jpg
SAGA.API/assets/img/user/DAL3067.jpg
SAGA.API/assets/img/user/DAL3076.jpg
SAGA.API/bin/EntityFramework.dll
SAGA.API/bin/Newtonsoft.Json.dll
SAGA.API/bin/SAGA.API.dll
SAGA.API/bin/SAGA.API.dll.config
SAGA.API/bin/SAGA.API.pdb
SAGA.API/bin/SAGA.BOL.dll
SAGA.API/bin/SAGA.BOL.pdb
SAGA.API/bin/SAGA.DAL.dll
SAGA.API/bin/SAGA.DAL.pdb
SAGA.API/packages.config
SAGA.API/Properties/PublishProfiles/SAGA.ERP.API.pubxml
SAGA.API/Properties/PublishProfiles/SAGA.ERP.API.pubxml.user
SAGA.API/SAGA.API.csproj
SAGA.API/SAGA.API.csproj.user
SAGA.API/Utilerias/8783ee38-7f80-e811-80e2-9e274155325e.jpeg
SAGA.API/Utilerias/files/users/83569bac-0d68-e811-80e1-9e274155325e/1518885672_201804_C1.pdf
SAGA.API/Utilerias/files/users/83569bac-0d68-e811-80e1-9e274155325e/9e55f3cc-3c1d-4d56-8b1d-f304bc160d3d.xlsx
SAGA.API/Utilerias/files/users/eb76913b-9525-e911-8993-b2aad340f890/photo.php.png
SAGA.API/Web.config
SAGA.BOL/app.config
SAGA.BOL/bin/Debug/SAGA.BOL.dll
SAGA.BOL/bin/Debug/SAGA.BOL.pdb
SAGA.BOL/bin/Release/SAGA.BOL.dll
SAGA.BOL/packages.config
SAGA.BOL/SAGA.BOL.csproj
SAGA.DAL/App.config
SAGA.DAL/bin/Debug/EntityFramework.dll
SAGA.DAL/bin/Debug/EntityFramework.SqlServer.dll
SAGA.DAL/bin/Debug/SAGA.BOL.dll
SAGA.DAL/bin/Debug/SAGA.BOL.pdb
SAGA.DAL/bin/Debug/SAGA.DAL.dll
SAGA.DAL/bin/Debug/SAGA.DAL.dll.config
SAGA.DAL/bin/Debug/SAGA.DAL.pdb
SAGA.DAL/bin/Release/EntityFramework.dll
SAGA.DAL/bin/Release/EntityFramework.SqlServer.dll
SAGA.DAL/bin/Release/SAGA.BOL.dll
SAGA.DAL/bin/Release/SAGA.DAL.dll
SAGA.DAL/bin/Release/SAGA.DAL.dll.config
SAGA.DAL/packages.config
SAGA.DAL/SAGA.DAL.csproj
SAGA.DAL/SAGA.DAL.csproj.user
